body {
    background: url(../images/tai-coco.jpg);
}
 p.contact {
     background-color: coral;
     color: rgb(0,255,0);
     font-size: 22px;
 }
 
 p.Articles {
    background-color: aquamarine;
    text-align: left;
 }
 h1{
    text-align: center;

 }
 div.Tais-Portfolio {
    background-color: blueviolet;

 }
 div.git {
     background-color: beige;

 }
 div.youtube {
background-color: deeppink;

 }
    
